build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/.qmake.stash
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/alarmHistory.json
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile.Debug
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/Makefile.Release
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/users29281appdatalocaltemptmp4bzvbs
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/alarmhistory.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/blockingmodel.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/main.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_alarmhistory.cpp
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_alarmhistory.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_blockingmodel.cpp
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_blockingmodel.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/moc_predefs.h
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/qrc_qml.cpp
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/qrc_qml.o
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/tets3.exe
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Release/.qmake.stash
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Release/Makefile
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Release/Makefile.Debug
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Release/Makefile.Release
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Release/qml_qmlcache.qrc
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/blockingModel.json
build-tets3-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/debug/blockingModel.json
